@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "New";
}

@section chessGamStyle{
    <link href="@Url.Content("~/Content/new-game-screen.css")" rel="stylesheet" type="text/css" />
}

<script src="@Url.Content("~/Scripts/new_game_screen.js")"></script>
<form method="post" action="/GameSession/New">

    <div class="row" id="choose-game-container" style="margin: 0;">
        <div id="option-1" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 choose-game-option" onclick="newGame('pve')" href="/GameSession/Computer">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" style="margin-left:auto; margin-right: auto; display: block;"
                 width="200.000000pt" height="200.000000pt" viewBox="0 0 500.000000 500.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M860 3785 c-152 -35 -270 -112 -351 -231 -194 -281 -89 -662 221
-806 110 -51 121 -53 260 -53 109 0 146 4 190 20 178 64 311 193 369 360 29
83 30 256 1 337 -97 277 -398 440 -690 373z" />
                    <path d="M3062 3478 c-17 -17 -17 -1849 0 -1866 17 -17 1789 -17 1806 0 9 9
12 230 12 935 0 902 0 923 -19 933 -30 16 -1783 14 -1799 -2z m1718 -693 l0
-595 -820 0 -820 0 0 595 0 595 820 0 820 0 0 -595z m0 -890 l0 -195 -820 0
-820 0 0 195 0 195 820 0 820 0 0 -195z" />
                    <path d="M3253 3292 c-30 -19 -33 -70 -33 -493 l0 -431 29 -29 29 -29 687 0
686 0 25 27 c13 14 27 36 30 47 2 12 3 213 2 447 -3 404 -4 428 -22 448 -19
21 -20 21 -720 21 -386 0 -706 -4 -713 -8z m1357 -482 l0 -390 -645 0 -645 0
0 390 0 390 645 0 645 0 0 -390z" />
                    <path d="M4480 2008 c-13 -8 -30 -25 -37 -38 -51 -101 69 -200 148 -121 39 39
41 106 5 140 -29 27 -83 36 -116 19z" />
                    <path d="M3310 1920 l0 -50 355 0 355 0 0 50 0 50 -355 0 -355 0 0 -50z" />
                    <path d="M2177 3363 c-17 -16 -3 -73 44 -191 29 -70 56 -133 62 -140 6 -8 25
-12 46 -10 l36 3 57 140 c67 162 71 198 21 203 -31 3 -32 2 -63 -80 -17 -46
-37 -98 -44 -117 l-13 -33 -23 63 c-63 176 -59 169 -89 169 -15 0 -31 -3 -34
-7z" />
                    <path d="M2585 3361 c-30 -13 -54 -43 -61 -77 -10 -49 30 -86 119 -112 84 -25
102 -45 66 -75 -30 -24 -66 -15 -101 23 -48 52 -103 33 -82 -28 16 -46 68 -72
143 -72 102 0 151 39 151 121 0 41 -40 76 -109 95 -81 22 -101 32 -101 49 0
21 44 37 73 26 12 -5 31 -18 41 -30 22 -24 64 -28 72 -6 12 29 -6 63 -40 79
-36 17 -136 21 -171 7z" />
                    <path d="M455 2729 c-33 -16 -81 -52 -107 -78 -48 -49 -98 -139 -98 -176 0
-11 -7 -58 -16 -105 -23 -123 -50 -280 -69 -395 -9 -55 -23 -131 -31 -169 -18
-89 -18 -134 2 -193 18 -55 60 -103 118 -136 l41 -22 665 -3 c427 -2 682 1
712 8 65 13 122 52 155 103 38 58 43 163 15 301 -11 56 -28 146 -37 201 -9 55
-27 154 -40 220 -14 66 -25 130 -25 142 0 45 -29 130 -58 173 -32 46 -84 100
-98 100 -4 0 -15 6 -23 14 -9 7 -36 21 -61 30 l-46 17 -66 -44 c-103 -68 -193
-102 -311 -118 -171 -24 -355 25 -498 134 -20 15 -43 27 -50 27 -8 -1 -41 -14
-74 -31z" />
                </g>
            </svg>
            <div id="option-1-label" class="h2" style="text-align:center;">PLAY VS THE COMPUTER</div>
        </div>
        <div id="option-2" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 choose-game-option w-100 p-3" type="submit" onclick="newGame('pvp')">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" style="margin-left:auto; margin-right: auto; display: block;"
                 width="200.000000pt" height="200.000000pt" viewBox="0 0 512.000000 512.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M975 4006 c-265 -61 -466 -244 -552 -501 -24 -71 -27 -96 -27 -220
-1 -154 15 -228 74 -346 62 -122 197 -257 319 -319 116 -58 193 -75 341 -75
114 0 147 4 210 23 242 77 417 249 498 490 23 69 26 93 26 222 0 131 -3 153
-27 225 -78 233 -252 406 -482 481 -99 33 -284 42 -380 20z" />
                    <path d="M3845 4006 c-265 -61 -466 -244 -552 -501 -24 -71 -27 -96 -27 -220
-1 -120 2 -151 22 -215 33 -102 71 -175 134 -253 84 -104 239 -217 298 -217
11 0 20 -4 20 -9 0 -4 28 -17 63 -27 88 -26 306 -26 395 0 34 10 62 23 62 27
0 5 9 9 20 9 33 0 111 44 188 106 40 31 72 60 72 63 0 3 17 25 38 48 90 102
151 261 159 419 9 165 -28 315 -109 437 -21 32 -38 60 -38 62 0 6 -120 120
-150 143 -47 37 -154 90 -225 112 -90 28 -281 36 -370 16z" />
                    <path d="M2240 3475 c-7 -8 -9 -24 -5 -37 14 -45 108 -273 118 -286 6 -8 25
-12 46 -10 l36 3 57 140 c67 162 71 198 21 203 -31 3 -32 2 -63 -80 -17 -46
-37 -98 -44 -117 l-13 -33 -23 63 c-63 176 -59 169 -89 169 -16 0 -34 -7 -41
-15z" />
                    <path d="M2655 3481 c-30 -13 -54 -43 -61 -77 -10 -49 30 -86 119 -112 84 -25
102 -45 66 -75 -30 -24 -66 -15 -101 23 -48 52 -103 33 -82 -28 16 -46 68 -72
143 -72 102 0 151 39 151 121 0 41 -40 76 -109 95 -81 22 -101 32 -101 49 0
21 44 37 73 26 12 -5 31 -18 41 -30 22 -24 64 -28 72 -6 12 29 -6 63 -40 79
-36 17 -136 21 -171 7z" />
                    <path d="M478 2601 c-119 -47 -227 -158 -269 -276 -22 -64 -189 -1053 -189
-1123 0 -105 53 -207 135 -264 87 -59 74 -58 975 -58 901 0 888 -1 975 58 81
56 135 159 135 261 0 59 -141 915 -152 919 -4 2 -8 27 -8 55 0 61 -20 139 -50
202 -47 96 -175 207 -273 234 l-44 13 -64 -47 c-82 -60 -205 -119 -305 -146
-112 -31 -316 -31 -428 0 -100 27 -223 86 -304 145 -34 25 -68 46 -75 46 -6
-1 -33 -9 -59 -19z" />
                    <path d="M3348 2601 c-119 -47 -227 -158 -269 -276 -22 -63 -189 -1053 -189
-1121 0 -105 53 -210 135 -266 87 -59 74 -58 975 -58 901 0 888 -1 975 58 82
56 135 161 135 266 0 62 -165 1050 -186 1112 -31 95 -99 180 -193 243 -20 14
-38 27 -41 31 -3 3 -28 11 -57 19 -55 13 -79 7 -113 -31 -23 -27 -172 -108
-196 -108 -12 0 -24 -4 -26 -10 -1 -5 -39 -19 -83 -31 -64 -18 -108 -22 -215
-22 -107 0 -151 4 -215 22 -44 12 -81 26 -83 31 -2 6 -14 10 -26 10 -25 0
-156 73 -214 119 -46 36 -51 36 -114 12z" />
                </g>
            </svg>
            <div id="option-2-label" class="h2" style="text-align:center;">PLAY VS ANOTHER PLAYER</div>
        </div>
    </div>

    <input type="hidden" name="UserId1" value=@User.Identity.GetUserId() />
    <input type="hidden" name="Date" value="@DateTime.Now" />
</form>

