@{
    ViewBag.Title = "Home Page";
}
<div id="background-div" style="background-image: url('../Content/Images/19589.jpg'); background-repeat: no-repeat; background-size: cover; position: fixed; left:0; top:0; width: 100vw; height: 100vh; padding: 0; margin: 0; max-width: 100%; z-index: -1;"></div>
<div class="container center-block" style="background-color: rgba(0,0,0,0.5); margin-top: 30px; border-radius: 10px;">
    <h1 class="h1">Welcome to Crazyhouse Chess Central!</h1>
    <h1>How to play</h1>
    <p class="lead">If you already know the basics of chess, you're 90% there!</p>
    <p class="lead">
        Crazyhouse is a classic game of chess... with a twist! Every time a player captures an enemy piece,
        that piece gets added to the player's bag and can be placed on the board again, at the expense of one move.
    </p>
</div>
<div class="container center-block" style="background-color: rgba(0,0,0,0.5); margin-top: 30px; border-radius: 10px;">
    <h1 class="h1">Gameplay Tips</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="lead" style="text-align: justify;">Keep your king safe</h2>
            <p class="lead" style="text-align: justify;">
                If king safety wasn't important enough in a classical game of chess, Crazyhouse makes it imperative
                to take care of the old man! Once your opponent has acquired a piece or two, attacks can become quick and vicious.
                Make sure your king is nicely tucked into safety.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="lead" style="text-align: justify;">Don't worry about your queen</h2>
            <p class="lead" style="text-align: justify;">
                If you know anything more about chess than how each piece moves on the board, you are probably familiar with 
                Chess's classical piece evaluation. Forget all about that... almost. Even though pieces move on the board the same way,
                the fact that you can place a captured piece on any empty square means that the utility of knights and bishops increases
                and the importance of queens decreases, as they can be pushed around with ease.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="lead" style="text-align: justify;">Play for the initiative</h2>
            <p class="lead" style="text-align: justify;">
                Positional chess is out of the equation in this game mode. Everything you need to worry is tactics, tactics, tactics.
                If you're not taking the initiative and playing aggressive, be sure that your opponent will. And playing proactively 
                is much more rewarding than playing reactively.
            </p>
        </div>
    </div>
</div>